<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
                <h1>Quản trị</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <ng-container *ngIf="isAuthenticated$ | async; else notAuth">
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/danh-sach-slider">
                        <i nz-icon nzType="double-left" nzTheme="outline"></i>
                        <!-- <i nz-icon nzType="dashboard" nzTheme="outline"></i> -->
                        <span *ngIf="!isCollapsed">Trailler</span>
                    </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/danh-sach-phim">
                        <i nz-icon nzType="instagram" nzTheme="outline"></i>
                        <span *ngIf="!isCollapsed">Danh sách phim</span>
                    </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/danh-sach-news">
                        <i nz-icon nzType="highlight" nzTheme="outline"></i>
                        <span *ngIf="!isCollapsed">Danh sách bình luận</span>
                    </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/danh-sach-ve">
                        <i nz-icon nzType="qrcode" nzTheme="outline"></i>
                        <span *ngIf="!isCollapsed">Đặt vé</span>
                    </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/danh-sach-lich-chieu">
                        <i nz-icon nzType="calendar" nzTheme="outline"></i>
                        <span *ngIf="!isCollapsed">Lịch chiếu</span>
                    </a>
                </li>
                <li nz-menu-item>
                    <a (click)="logout()">
                        <i nz-icon nzType="logout" nzTheme="outline"></i>
                        <span *ngIf="!isCollapsed">Logout</span>
                    </a>
                </li>
            </ng-container>
            <ng-template #notAuth>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/login">
                        <i nz-icon nzType="login" nzTheme="outline"></i>
                        <span *ngIf="!isCollapsed">Login</span>
                    </a>
                </li>
            </ng-template>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
            </div>
        </nz-header>
        <nz-content>
            <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>