<div style="display: flex; justify-content: space-between; cursor: pointer;">
  <p>
    Welcome, Add
  </p>
  <i nz-icon nzType="arrow-left" nzTheme="outline" [routerLink]="['/danh-sach-news']"></i>
</div>
<div nz-row>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzRequired nzFor="content">Content</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback nzErrorTip="Không được để trống">
            <input nz-input formControlName="content" placeholder="" [attr.id]="'content'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzRequired nzFor="title">Tiêu đề</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback nzErrorTip="Không được để trống">
            <input nz-input formControlName="title" placeholder="" [attr.id]="'title'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzFor="type" nzRequired>Loại tin</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback nzErrorTip="Không được để trống">
            <nz-select [(ngModel)]="selectedValue" nzShowSearch formControlName="type" nzAllowClear
              nzPlaceHolder="Chọn thể loại phim" [attr.id]="'type'">
              <nz-option *ngFor="let type of typeNew" [nzValue]="type.id" [nzLabel]="type.title">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzFor="moveId" nzRequired>Danh sách phim</nz-form-label>
          <nz-form-control [nzSpan]="18" nzHasFeedback nzErrorTip="Không được để trống">
            <nz-select [(ngModel)]="selectedFilm" nzShowSearch formControlName="moveId" nzAllowClear
              nzPlaceHolder="Chọn thể loại phim" [attr.id]="'moveId'">
              <nz-option *ngFor="let option of (listFirm$ | async)" [nzValue]="option.id" [nzLabel]="option.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <div class="clearfix">
          <i class="upload-icon" nz-icon [nzType]="'plus'" (click)="openFileChooser()"></i>
          <ng-content></ng-content>
          <input type="file" style="display: none;" (change)="onFileSelected($event)" #inputFile>
          <div class="khunganh" *ngIf="imgURLPreview">
            <img [src]="imgURLPreview" />
          </div>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
          </nz-modal>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary"
          [disabled]="!validateForm.valid">{{ stateAdd ? 'Thêm mới' : 'Cập nhật' }}</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
